<nav class="navbar">
  <div class="logo">
    <a routerLink="/">Dhaka Mart</a>
  </div>
  <ul class="nav-links">
    <li><a routerLink="/dashboard/admin">Dashboard</a></li>
    <li><a routerLink="/products">Products</a></li>
    <li><a routerLink="/categories">Categories</a></li>
    <li><a routerLink="/customers">Customers</a></li>
    <li><a routerLink="/sales">Sales</a></li>
    <li><a routerLink="/purchases">Purchases</a></li>
    <li><a routerLink="/inventory">Inventory</a></li>
    <li><a routerLink="/reports/sales">Reports</a></li>

    <li><a routerLink="/login">Login</a></li>
  </ul>
</nav>
